
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap Login &amp; Register Templates</title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">

    <link rel="stylesheet" href="assets2/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets2/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets2/css/form-elements.css">
    <link rel="stylesheet" href="assets2/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->



</head>
<body>
    <div class="container" style="background-image:">
        <div class="page-header">
            <h1 style="color:white;"><strong>Formulaires offre médicale</strong> <span class="pull-right label label-default"></span></h1>
        </div>
        <div class="row">

            <div class="col-sm-15">
                <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1primary" data-toggle="tab">Médicament</a></li>
                            <li><a href="#tab2primary" data-toggle="tab">Equipement</a></li>
                            <li><a href="#tab3primary" data-toggle="tab">Don</a></li>
                             
                        </ul>
                    </div>
                    <div style="background-color:#B0C4DE;" class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">

                                <form action="" method="post">
                                    <fieldset>

                                        <div class="row">
                                            <div class="col-xs-5 col-md-offset-3">
                                                <div class="col-md-13">

                                                    <div class="form-group">

                                                        <label class="sr-only" for="form-first-name">Objet:</label>
                                                        <input type="text" name="form-first-name" placeholder="Objet..." class="form-first-name form-control" id="form-first-name">
                                                    </div>

                                                    <div class="form-group">
                                                        <label class="sr-only" for="form-email">Email:</label>
                                                        <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="form-tele">Téléphone:</label>
                                                        <input type="text" name="form-tele" placeholder="Téléphone..." class="form-tele form-control" id="form-tele">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="form-nomMédica-name">Nom de médicament:</label>
                                                        <input type="text" name="form-nomMédica-name" placeholder="Nom de médicament..." class="form-nomMédica-name form-control" id="form-nomMédica-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="form-code-name">Code Médicament:</label>
                                                        <input type="text" name="form-code-name" placeholder="Code Médicament..." class="form-QUAN-name form-control" id="form-code-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="sr-only" for="form-QUAN-name">Quantité:</label>
                                                        <input type="text" name="form-QUAN-name" placeholder="Quantité..." class="form-QUAN-name form-control" id="form-QUAN-name">
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-group input-file" name="Fichier1">
                                                            <input type="text" class="form-control" placeholder='Sélectionner une photo...' />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-default btn-choose" type="button">Choisir</button>
                                                            </span>


                                                        </div>
                                                    </div>             <div class="form-group">

                                                        <label for="comment"></label>
                                                        <textarea style="height: 150px;" class="form-control" rows="5" placeholder="Description..." id="comment"></textarea>
                                                    </div>
                                                    <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Valider</button>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                          
                          
                        </div>
                        <div class="tab-pane fade" id="tab2primary">
                            <form action="" method="post">
                                <fieldset>

                                    <div class="row">
                                        <div class="col-xs-5 col-md-offset-3">
                                            <div class="col-md-13">
                                                <h3></h3>
                                                <div class="form-group">

                                                    <label class="sr-only" for="form-first-name">Objet:</label>
                                                    <input type="text" name="form-first-name" placeholder="Objet..." class="form-first-name form-control" id="form-first-name">
                                                </div>

                                                <div class="form-group">
                                                    <label class="sr-only" for="form-email">Email:</label>
                                                    <input type="text" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="form-tele">Téléphone:</label>
                                                    <input type="text" name="form-tele" placeholder="Téléphone..." class="form-tele form-control" id="form-tele">
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="form-natEquip-name">Nature de l'équipement:</label>
                                                    <input type="text" name="form-natEquip-name" placeholder="Nature de l'équipement..." class="form-natEquip-name form-control" id="form-natEquip-name">
                                                </div>
       
                                                
                                                <div class="form-group">
                                                    <div class="input-group input-file" name="Fichier1">
                                                        <input type="text" class="form-control" placeholder='Sélectionner une photo...' />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default btn-choose" type="button">Choisir</button>
                                                        </span>


                                                    </div>
                                                </div>             <div class="form-group">

                                                    <label for="comment"></label>
                                                    <textarea style="height: 150px;" class="form-control" rows="5" placeholder="Description..." id="comment"></textarea>
                                                </div>
                                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Valider</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        
                            </div>
                           
                        <div class="tab-pane fade" id="tab3primary">
                            <form action="" method="post">
                                <fieldset>

                                    <div class="row">
                                        <div class="col-xs-5 col-md-offset-3">
                                            <div class="col-md-13">
                                                <h3></h3>
                                                <div class="form-group">

                                                    <label class="sr-only" for="form-first-name">Objet:</label>
                                                    <input type="text" name="form-first-name" placeholder="Objet..." class="form-first-name form-control" id="form-first-name">
                                                </div>

                                                <div class="form-group">
                                                    <label class="sr-only" for="form-email">Email:</label>
                                                    <input type="email" name="form-email" placeholder="Email..." class="form-email form-control" id="form-email">
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="form-tele">Téléphone:</label>
                                                    <input type="text" name="form-tele" placeholder="Téléphone..." class="form-tele form-control" id="form-tele">
                                                </div>
                                                <div class="form-group">
                                                    <label class="sr-only" for="form-tele">Téléphone:</label>
                                                    <input type="text" name="form-age" placeholder="Age..." class="form-tele form-control" id="form-age">
                                                </div>
                                                <div class="form-group">

                                                    <select class="form-control " style="width:170px; display:inline;" id="sel1">
                                                        <option>Groupage Sanguin</option>
                                                        <option>A</option>
                                                        <option>B</option>
                                                        <option>AB</option>
                                                        <option>O</option>
                                                    </select>
                                                    <select class="form-control" style="width:170px; display:inline;" id="sel1">
                                                        <option>Résus</option>
                                                        <option>+</option>
                                                        <option>-</option>

                                                    </select>
                                                </div>

                                                <br />
                                                <div class="form-group">

                                                    <select class="form-control " style="width:170px;" id="sel1">
                                                        <option>Type de Don</option>
                                                        <option>Sang</option>
                                                        <option>Plaquette</option>
                                                        <option>Plasma</option>

                                                    </select>

                                                </div>

                                                <br />

                                                <div class="form-group">
                                                    <div class="input-group input-file" name="Fichier1">
                                                        <input type="text" class="form-control" placeholder='Sélectionner une photo...' />
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-default btn-choose" type="button">Choisir</button>
                                                        </span>


                                                    </div>
                                                </div>
                                                <div class="form-group">

                                                    <label for="comment"></label>
                                                    <textarea style="height: 150px;" class="form-control" rows="5" placeholder="Description..." id="comment"></textarea>
                                                </div>
                                                <button class="btn btn-primary nextBtn btn-lg pull-right" type="button">Valider</button>
                                            </div>
                                            </div>
                                        </div>
                                    
                                </fieldset>
                            </form>
                        </div>
                            <div class="tab-pane fade" id="tab4primary">Primary 4</div>
                            <div class="tab-pane fade" id="tab5primary">Primary 5</div>
                        </div>
                    </div>
                </div>
            </div>
   
    <br />
    <!-- Javascript -->
    <script src="assets2/js/jquery-1.11.1.min.js"></script>
    <script src="assets2/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets2/js/jquery.backstretch.min.js"></script>
    <script src="assets2/js/scripts.js"></script>


    <!--[if lt IE 10]>
        <script src="assets/js/placeholder.js"></script>
    <![endif]-->

</body>

</html>
